### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [28]:
#importing Packages
import pandas as pd
import numpy as np
import re
#Loading the Excel File with the appropiate aspects
file_path="/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/Energy Indicators.xls"

energy=pd.read_excel(file_path, skiprows=17 ,nrows=227, usecols="C:F", na_values='...') #specify used cols and no. of rows, skipping header, and nan values
#renaming coloumns
energy.rename(columns={"Unnamed: 2":'Country',"Petajoules":'Energy Supply',"%":'% Renewable',"Gigajoules":"Energy Supply per Capital"},inplace = True)

energy.head(7)

          Country  Energy Supply  Energy Supply per Capital  % Renewable
0     Afghanistan          321.0                       10.0    78.669280
1         Albania          102.0                       35.0   100.000000
2         Algeria         1959.0                       51.0     0.551010
3  American Samoa            NaN                        NaN     0.641026
4         Andorra            9.0                      121.0    88.695650
5          Angola          642.0                       27.0    70.909090
6        Anguilla            2.0                      136.0     0.000000

In [29]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
Country                      227 non-null object
Energy Supply                222 non-null float64
Energy Supply per Capital    222 non-null float64
% Renewable                  227 non-null float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [30]:
#converting 'Energy Supply' to Gigajoules (1,000,000 gigajoules in a petajoule)
# energy.replace('...', np.nan,inplace = True)
energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x: x*1000000)

In [31]:
energy.head(7)

          Country  Energy Supply  Energy Supply per Capital  % Renewable
0     Afghanistan   3.210000e+08                       10.0    78.669280
1         Albania   1.020000e+08                       35.0   100.000000
2         Algeria   1.959000e+09                       51.0     0.551010
3  American Samoa            NaN                        NaN     0.641026
4         Andorra   9.000000e+06                      121.0    88.695650
5          Angola   6.420000e+08                       27.0    70.909090
6        Anguilla   2.000000e+06                      136.0     0.000000

In [32]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
Country                      227 non-null object
Energy Supply                222 non-null float64
Energy Supply per Capital    222 non-null float64
% Renewable                  227 non-null float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [34]:
#function to clean Countries from paranthes, numbers and renaming some Countries
def clean_Parenthes(country):
    index = country.find('(')
    if(index != -1):
        return country[:index].strip()
    return country.strip()

def clean_Number(country):
    country = re.sub("\d+"," ",country)
    return country.strip()

def rename_country(country):
    if(re.search("^Republic of Korea",country)!=None):
        return "South Korea"
    elif(re.search("^United States of America",country)!=None):
        return "United States"
    elif(re.search("^United Kingdom of Great Britain and Northern Ireland",country)!=None):
        return "United Kingdom"
    elif(re.search("^China, Hong Kong Special Administrative Region",country)!=None):
        return "Hong Kong"
    elif(re.search("^The former Yugoslav Republic of Macedonia",country)!=None):
        return "North Macedonia"
    elif(re.search("^Democratic People's Republic of Korea",country)!=None):
        return "North Korea"
    return country
    
#corresponding manual code for the prev function

# energy['Country'] = energy['Country'].str.replace(r"\(.*\)","")
# energy['Country'] = energy['Country'].str.replace("[0-9()]+$", "")
# energy["Country"].replace(["Republic of Korea","United States of America",
#                                "United Kingdom of Great Britain and Northern Ireland",
#                                "China, Hong Kong Special Administrative Region",
#                           'Bolivia (Plurinational State of)',
#                            'Switzerland17','The former Yugoslav Republic of Macedonia',
#                           "Democratic People's Republic of Korea"],
                          
#                               ["South Korea","United States","United Kingdom","Hong Kong",
#                                'Bolivia','Switzerland','North Macedonia','North Korea']
#                           ,inplace = True)

energy['Country']=energy['Country'].apply(clean_Parenthes).apply(clean_Number).apply(rename_country)
energy.sample(7)  #show diff. samples and make sure the all countries have changed correctly

            Country  Energy Supply  Energy Supply per Capital  % Renewable
55   Czech Republic   1.751000e+09                      166.0     7.067134
58          Denmark   7.250000e+08                      129.0    33.537660
36         Cameroon   3.070000e+08                       14.0    70.886260
130      Mauritania   5.100000e+07                       13.0     0.000000
92            Haiti   1.720000e+08                       16.0    12.760180
141           Nauru   1.000000e+06                       60.0     0.000000
23           Bhutan   6.300000e+07                       83.0   100.000000

In [35]:
# energy.isnull().sum()
# energy.info()
#output the file
energy.to_excel('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/output/Energy Indicators2.xls')
energy.to_csv('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/output/Energy Indicators2.csv')

### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [36]:
#Loading the csv File with the appropiate aspects
GDP = pd.read_csv('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/world_bank.csv',
                skiprows=4 )
GDP["Country Name"].replace(["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"]
                                ,["South Korea","Iran","Hong Kong"],inplace = True)
GDP.head(7)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
5,Arab World,ARB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.763824e+12,1.863481e+12,1.980983e+12,2.011001e+12,2.103825e+12,2.173896e+12,2.318267e+12,2.385580e+12,2.436659e+12,2.509068e+12
6,United Arab Emirates,ARE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.789489e+11,2.878318e+11,2.970189e+11,2.814464e+11,2.860493e+11,3.009462e+11,3.216922e+11,3.355937e+11,3.509313e+11,3.621003e+11

In [37]:
GDP.to_csv('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/output/World_Bank2.csv')
GDP.to_excel('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/output/World_Bank2.xls')


### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [38]:
ScimEn=pd.read_excel('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/scimagojr-3.xlsx')
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [40]:
#First rename column country name to Country and take subset of years wanted using loxc[]
GDP.rename(columns={'Country Name': 'Country'}, inplace=True)

last10_gdp=GDP.loc[:,["Country",'2006', '2007', '2008', '2009', '2010',
                              '2011', '2012', '2013', '2014', '2015']]
last10_gdp.set_index('Country')
last10_gdp.sample(7)

# last10_gdp=(GDP.loc[GDP['Rank'].isin([i for i in range(1, 16)])])

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
100,IDA & IBRD total,1.697394e+13,1.841843e+13,1.944638e+13,1.990883e+13,2.138217e+13,2.265753e+13,2.376510e+13,2.489885e+13,2.594497e+13,2.686382e+13
169,Namibia,9.693004e+09,1.033440e+10,1.060824e+10,1.063964e+10,1.128219e+10,1.185661e+10,1.245673e+10,1.316110e+10,1.399423e+10,1.478683e+10
158,Myanmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Algeria,1.446474e+11,1.495654e+11,1.531550e+11,1.556055e+11,1.612073e+11,1.658823e+11,1.715223e+11,1.763249e+11,1.830252e+11,1.901632e+11
103,Indonesia,6.026267e+11,6.408635e+11,6.794031e+11,7.108518e+11,7.550942e+11,8.016818e+11,8.500237e+11,8.972617e+11,9.423391e+11,9.875141e+11
131,St. Lucia,1.234739e+09,1.242412e+09,1.277116e+09,1.271323e+09,1.249497e+09,1.258266e+09,1.244975e+09,1.246701e+09,1.252387e+09,1.274435e+09
185,Philippines,1.650986e+11,1.760226e+11,1.833324e+11,1.854377e+11,1.995908e+11,2.068953e+11,2.207238e+11,2.362965e+11,2.507870e+11,2.653470e+11

In [15]:
#using where to get only top 15 Rank and drop the rest
top15_scimEn=ScimEn.where(ScimEn['Rank']<16).dropna(axis=0,how='all')
top15_scimEn.set_index('Country')

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0
United States,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0
Japan,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0
United Kingdom,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0
Russian Federation,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0
Canada,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0
Germany,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0
India,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0
France,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0
Italy,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0
Spain,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0
Iran,13.0,8896.0,8819.0,57470.0,19125.0,6.46,72.0
Australia,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0
Brazil,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0

In [41]:
merged_dataset=top15_scimEn.merge(energy, on='Country').merge(last10_gdp, on='Country')
merged_dataset.set_index('Country', inplace=True)
merged_dataset

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capital,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13.0,8896.0,8819.0,57470.0,19125.0,6.46,72.0,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

In [42]:

ScimEn['Country'].isin(energy['Country']).isin(GDP['Country']).value_counts()

False    191
Name: Country, dtype: int64

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [45]:

avgGDP=merged_dataset.iloc[:,10:].mean(axis=1)
avgGDP

Country
China                 6.348609e+12
United States         1.536434e+13
Japan                 5.542208e+12
United Kingdom        2.487907e+12
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
Italy                 2.120175e+12
Spain                 1.418078e+12
Iran                  4.441558e+11
Australia             1.164043e+12
Brazil                2.189794e+12
dtype: float64

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [21]:
merged_dataset['Energy Supply per Capital'].mean()

157.6

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple [with the name of the country] and the percentage.*

In [22]:
max_renewable_country=merged_dataset['% Renewable'].max(),merged_dataset['% Renewable'].idxmax()
max_renewable_country

(69.64803, 'Brazil')

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [23]:

merged_dataset['ratio']=merged_dataset['Self-citations']/merged_dataset['Citations']
max_value=merged_dataset['ratio'].max(),merged_dataset['ratio'].idxmax()
max_value

(0.6893126179389422, 'China')

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [24]:
renewable_median=merged_dataset['% Renewable'].median()
merged_dataset['HighRenew']=merged_dataset['% Renewable'].apply(lambda x: 1 
                                                        if x >= renewable_median else 0)
merged_dataset.sort_values(by='Rank',ascending=True ,inplace=True)
merged_dataset

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capital,% Renewable,...,2008,2009,2010,2011,2012,2013,2014,2015,ratio,HighRenew
Country,,,,,,,,,,,,,,,,,,,,,
China,1.0,127050.0,126767.0,597237.0,411683.0,4.70,138.0,1.271910e+11,93.0,19.754910,...,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1
United States,2.0,96661.0,94747.0,792274.0,265436.0,8.20,230.0,9.083800e+10,286.0,11.570980,...,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0
Japan,3.0,30504.0,30287.0,223024.0,61554.0,7.31,134.0,1.898400e+10,149.0,10.232820,...,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0
United Kingdom,4.0,20944.0,20357.0,206091.0,37874.0,9.84,139.0,7.920000e+09,124.0,10.600470,...,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0
Russian Federation,5.0,18534.0,18301.0,34266.0,12422.0,1.85,57.0,3.070900e+10,214.0,17.288680,...,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,1
Canada,6.0,17899.0,17620.0,215003.0,40930.0,12.01,149.0,1.043100e+10,296.0,61.945430,...,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1
Germany,7.0,17027.0,16831.0,140566.0,27426.0,8.26,126.0,1.326100e+10,165.0,17.901530,...,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,1
India,8.0,15005.0,14841.0,128763.0,37209.0,8.58,115.0,3.319500e+10,26.0,14.969080,...,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,0
France,9.0,13153.0,12973.0,130632.0,28601.0,9.93,114.0,1.059700e+10,166.0,17.020280,...,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,1
South Korea,10.0,11983.0,11923.0,114675.0,22595.0,9.57,104.0,1.100700e+10,221.0,2.279353,...,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,0
Italy,11.0,10964.0,10794.0,111850.0,26661.0,10.20,106.0,6.530000e+09,109.0,33.667230,...,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,1
Spain,12.0,9428.0,9330.0,123336.0,23964.0,13.08,115.0,4.923000e+09,106.0,37.968590,...,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,1
Iran,13.0,8896.0,8819.0,57470.0,19125.0,6.46,72.0,9.172000e+09,119.0,5.707721,...,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0.332782,0
Australia,14.0,8831.0,8725.0,90765.0,15606.0,10.28,107.0,5.386000e+09,231.0,11.810810,...,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0
Brazil,15.0,8668.0,8596.0,60702.0,14396.0,7.00,86.0,1.214900e+10,59.0,69.648030,...,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1

In [25]:
merged_dataset.to_csv('/home/mahmoud/ITI_Python_for_Data_Management/Task 1/data/output/last_merged.csv')

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [27]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}


DataFrame=pd.DataFrame(list(ContinentDict.items()),columns = ['Country' , 'Continent'])
DataFrame['Population'] = energy['Energy Supply'] / energy['Energy Supply per Capital']
DataFrame=DataFrame[['Continent','Population']].groupby('Continent').agg([np.size,np.sum, np.mean, np.std])
DataFrame

              Population
                    size           sum          mean           std
Continent
Asia                 5.0  8.206788e+07  1.641358e+07  1.760448e+07
Australia            1.0  9.450000e+06  9.450000e+06           NaN
Europe               6.0  6.626460e+07  1.325292e+07  1.932503e+07
North America        2.0  2.669206e+07  1.334603e+07  1.475272e+07
South America        1.0  3.813559e+05  3.813559e+05           NaN